*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Montserrat" !important;
  color: #4f4f4f;
  font-weight: 300;
  line-height: 1.6;
  min-height: 100vh; }
