// COLOR VARIABLES
$color-primary: #5b63f6;

$color-grey-dark-1: #333333;
$color-grey-dark-2: #4f4f4f;

// FONT VARIABLES
$font-primary: "Montserrat";

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px
